body {
  margin: 50px;
}

main {
  margin-top: 150px;
  background-color: rgb(226, 115, 100);
  padding: 50px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(71, 62, 62);
}

main h1 span {
  color: rgb(71, 29, 22);
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: inline-block;
  margin-top: -150px;
  border: 1px solid rgb(0, 0, 0);
}

#todays-challenge {
  font-weight: bold;
  font-size: 52px;
}
